{% extends 'base.html' %}
{% block content %}

<style>
	.btn-send,
.btn-cancel {
    display: inline-block;
    width: 100px;
	margin-right: 5px;
}

/* Optionally, you can add margin between the buttons */
.btn-send {
    margin-right: 15px; /* Adjust as needed */
}
</style>

<div class="container">
	<div class="jumbotron">
		<div class="row">
			<div class="col-md-4">
				<div class="card card-body">
					<form method="post" >
						{% csrf_token %}
						<h2 class="text-center">Reset Password</h2><hr>
						
						{% for field in form %}
								<h3>{{ field.label_tag }} 
								{{ field }}</h3>
								{% if field.errors %}
									<small>{{ field.errors|striptags  }}</small> 
								{% endif %}
						{% endfor %}<br><br><br>
						<div class="form-buttons">
							<input type="submit" value="Send" class="btn btn-primary  btn-send" style="width: 50%; height: 40px;">
							<a href="{% url 'userapp:login' %}"  class="btn btn-outline  btn-cancel" style="width: 150px; height:40px ;">Cancel</a>
						</div>
					</form>

				</div>
			</div>
		</div>
	</div>
	
	</div>

{% endblock content %}