{% extends 'base.html' %}

{%block content%}

<div class="container">
	<div class="jumbotron" >
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card card-body">
                    <form method="post" >
                    {% csrf_token %}
                    
                    <center><h2>Password Reset Confirm</h2></center><hr>
                    
                    {% for field in form %}
                              <h3>  {{ field.label_tag }} 
                                {{ field }} </h3><br>
                                {% if field.errors %}
                                    <small>{{ field.errors|striptags  }}</small> 
                                {% endif %}
                        {% endfor %}
                        
                    
                    
                    <div><br><br>
                        <button type="submit" class="btn btn-primary" style="width: 100%; align-items: center ;">Reset Password</button>
                    </div>
	                </form>
                </div>
            </div>
        </div>
    </div>
</div>


{%endblock content%}