{% extends 'base.html' %}
{%block content%}

<div class="container">
	<div class="jumbotron" >
		<div class="row justify-content-center">
			<div class="col-md-6">
				<div class="card card-body">
	<center><h2>Reset Password</h2></center><hr>

	<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.

If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.

.</p>           </div>
            </div>
        </div>
    </div>
</div>

{%endblock content%}