{% extends 'base.html' %}
{% block content %}

<form  method="POST" enctype="multipart/form-data">
    {% csrf_token %}
<br>
<div class="container">
    <div class="jumbotron">
        <div class="row">
            <div class ="col-md-6">
                <div class="card card-body">
                   {{form.as_p}}
                   {{form1.as_p}}
                   <input type="submit" class="btn btn-warning"  value="update">
                    <!-- <input type="submit" value="update"> -->
                </div>
            </div>
        </div>
    </div>
</div>
    

</form>
{% endblock %}