{% extends "base.html" %}

{% block content %}
<body>
    <br>

    <div class="container">
        <div class="jumbotron">
            <div class="row">
                {% for job in jobs %}
                    <div class="col-md-4">
                        <div class="card card-body">
                            <h4>Title : {{ job.job_title }}</h4><hr>
                            <p>Company: {{ job.company }}</p>
                            <p><img src = "https://cdn-icons-png.flaticon.com/512/17/17736.png" style="height:20px;width:20px;"> {{job.location}}  <img src = "https://icons.veryicon.com/png/o/miscellaneous/x/my-salary.png" style="height:20px;width:20px;">  : {{job.salary}} <img src = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_g4r7-apf0hG38cZ9T2ggHqkgsrjlCy9q3Gy7FjeuCC83KfU1gkb7L2cfg4KjU5myQ-E&usqp=CAU" style="height:20px;width:20px;"> : {{job.type}}</p>
                            <hr>
                            <a href="{% url 'jobpostdata:job_display' pk=job.pk %}" class="btn btn-primary">View more</a>
                        </div>   
                    </div>
                    
                    {% if forloop.counter|divisibleby:3 %}
                        </div><div class="row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>
{% endblock %}
